@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animateScroll {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
}

/* 鼠标悬停时暂停动画 */
.animateScroll:hover {
  animation-play-state: paused;
}